html[b-i3bwzs3oqa], body[b-i3bwzs3oqa] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a[b-i3bwzs3oqa], .btn-link[b-i3bwzs3oqa] {
    color: #006bb7;
}

.btn-primary[b-i3bwzs3oqa] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus[b-i3bwzs3oqa], .btn:active:focus[b-i3bwzs3oqa], .btn-link.nav-link:focus[b-i3bwzs3oqa], .form-control:focus[b-i3bwzs3oqa], .form-check-input:focus[b-i3bwzs3oqa] {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content[b-i3bwzs3oqa] {
    padding-top: 1.1rem;
}

h1:focus[b-i3bwzs3oqa] {
    outline: none;
}

.valid.modified:not([type=checkbox])[b-i3bwzs3oqa] {
    outline: 1px solid #26b050;
}

.invalid[b-i3bwzs3oqa] {
    outline: 1px solid #e50000;
}

.validation-message[b-i3bwzs3oqa] {
    color: #e50000;
}

.blazor-error-boundary[b-i3bwzs3oqa] {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary[b-i3bwzs3oqa]::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input[b-i3bwzs3oqa] {
    border-color: #929292;
}


.jumbotron-custom[b-i3bwzs3oqa] {
    background: url(https://t3.ftcdn.net/jpg/08/06/67/04/240_F_806670418_YM1WoYqXA8e0ByqHPvL3YRWGpRK9Snsd.jpg) center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.img-rounded[b-i3bwzs3oqa] {
    border-radius: 50%;
    height:200px;
    width:200px;
}
    .img-rounded:hover[b-i3bwzs3oqa] {
        transition: transform 0.5s ease;
        transform: scale(1.1,1.1)
    }

span.nav-link[b-i3bwzs3oqa] {
    color: #212529 !important;
}

.nav-link:focus[b-i3bwzs3oqa], .nav-link:hover[b-i3bwzs3oqa] {
    color: #212529;
}

span.nav-link.active[b-i3bwzs3oqa] {
    border-bottom: 3px solid #198754;
    color: #198754 !important;
}



.mark-up-string *[b-i3bwzs3oqa] {
    background: transparent !important;
}
